@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  align-items: center;
}
img {
  cursor: pointer;
}
#spinner {
  display: none;
  position: fixed;
  top: 50px;
  z-index: 999999;
  left: 70px;
}
a {
  text-decoration: none !important;
}
body {
  background-color: rgb(250, 250, 250);
}
#container {
  width: 80%;
  margin: auto;
}
form {
  margin-top: 40px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
input {
  padding: 10px;
  width: 360px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  margin-top: 6px;
  color: gray;
  background-color: white;
  font-size: 16px;
}
select {
  padding: 10px;
  width: 360px;
  border-radius: 10px;
  outline: none;
  margin-top: 6px;
  color: gray;
  background-color: white;
  font-size: 15px;
}
#WFnameAndSelectDiv {
  display: flex;
  justify-content: space-between;
}
#beforetimeDiv {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}
#beforetimeDiv > input {
  width: 170px;
}
#beforetimeDiv > select {
  width: 170px;
}
#beforetimeDiv > label:nth-child(5) {
  font-weight: 200;
}
#name {
  border: 2px dotted grey;
}
#name:hover,
#name:focus {
  border: 2px solid blue;
}
#subject {
  margin-top: 10px;
}
textarea {
  margin-top: 6px;
  padding: 10px;
  display: block;
  width: 100%;
  resize: none;
  line-height: 1.4;
  overflow: hidden;
  height: auto;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  color: gray;
  background-color: white;
}
#body {
  margin-top: 10px;
}

#bodyText {
  height: 104px;
}
#saveBtnDiv {
  text-align: end;
  margin-top: 30px;
}
#saveBtn {
  cursor: pointer;
  background-color: rgb(0, 105, 255);
  color: white;
  font-size: 20px;
  border-radius: 40px;
}
/*todo ----------------------------Small Screen Sizes -------------------------------- */
@media all and (min-width: 200px) and (max-width: 809px) {
  * {
    font-size: 11px;
  }
  #container {
    padding: 7px;
    width: 100%;
  }
  #container input,
  #container select,
  #container textarea {
    font-size: 12px !important;
    width: 100% !important;
  }
  #WFnameAndSelectDiv {
    flex-direction: column;
  }
  label {
    font-size: 11px;
  }
}
